body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.name{
  text-align: center;
  background-color: #85A98F;
  text-decoration: underline;
  margin: 0px;
  padding: 15px;
  color: black;
}

.resetbtn{
  text-align: center;
  background-color: #85A98F;
}